@use "../../styles/typography";

.start {
  background-image: url(../../assets/start-bg.webp);
  background-size: cover;
  height: 40rem;
  background-color: rgba(black, 0.5);


  &__bg {
    background-color: rgba(black, 0.4);
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 3.6rem;
    margin: 0;
  }
  &__button {
    height: 3rem;
    width: 15rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-style: italic;
    border-radius: 1.5rem;
    border-color: black;
    position: absolute;
    right: 10rem;
    bottom: 4rem;
  }

  &__textField {
    width: 20rem;
    position: absolute;
    left: 6rem;
  }

  &__title{
    color: white;
  }
}

// .form{
//   display: flex;
//   flex-direction: column;
// }
